{
  "extends": ["stylelint-config-standard"],
  "plugins": ["stylelint-order"],
  "customSyntax": "postcss-styled-syntax",
  "rules": {
    "order/order": ["custom-properties", "declarations"],

    "order/properties-order": [
      {
        "groupName": "Layout",
        "noEmptyLineBetween": true,
        "properties": [
          "display",
          "visibility",
          "overflow",
          "float",
          "clear",
          "position",
          "top",
          "right",
          "bottom",
          "left",
          "z-index"
        ]
      },
      {
        "groupName": "Box",
        "emptyLineBefore": "always",
        "noEmptyLineBetween": true,
        "properties": [
          "width",
          "height",
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left",
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left",
          "border"
        ]
      },
      {
        "groupName": "color",
        "emptyLineBefore": "always",
        "noEmptyLineBetween": true,
        "properties": ["background-color", "color"]
      },
      {
        "groupName": "Font",
        "emptyLineBefore": "always",
        "noEmptyLineBetween": true,
        "properties": ["text-align", "text-indent", "vertical-align", "white-space"]
      },
      {
        "groupName": "Animation",
        "emptyLineBefore": "always",
        "noEmptyLineBetween": true,
        "properties": ["animation"]
      }
    ]
  }
}
